body {
    background-color: #EAF6F6;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

hr {
    border-style: dotted;
    border-top-style: none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 1%;
}